:host .title{margin-bottom:2rem}
.phone-number input 
    {
        background-color: #f7f9fc;
        border-color: #edf1f7;
        border-style: solid;
        border-width: 1px;
        color: #1a2138;
        font-family: Open Sans, sans-serif;
        -webkit-appearance: none;
        transition-duration: 0.15s;
        transition-property: border, background-color, color, box-shadow;
        transition-timing-function: ease-in;
        font-size: 0.9375rem;
        font-weight: 600;
        line-height: 1.5rem;
        padding: 0.6875rem 1.125rem;
    }
.phone-number input:hover {
    border-color: #598bff;
}